# .NET Core / .NET 5+
bin/
obj/
**/obj/
**/bin/
.vscode/
*.user
*.suo
*.userprefs
*.dbmdl
*.jfm
*.log
*.bak
*.props
*.json
*.swp
*.vspscc
*.vssscc
.vs/
.idea/
*.log
*.bak
*.swp
*.vspscc
*.vssscc
.vs/
.idea/
*.cache
*.sw?
*~
project.lock.json
project.fragment.lock.json
artifacts/
_ReSharper*/
*.DotSettings